@import 'variables';
@import 'mixins';
@import 'helpers';

.page-header {
  padding: 10px 10px 10px 20px;
}

.page-content {
  background: #1a1d24;
  padding: 20px;

  .panel-light {
    background: $gray-medium;
  }

  .jumbotron {
    text-align: center;
  }

  .image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;

    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
