@import 'variables';
@import 'mixins';
@import 'helpers';

.page-header {
  padding: 10px 10px 10px 20px;
}

.page-content {
  background: #1a1d24;
  padding: 20px;

  .panel-light {
    background: $gray-medium;
  }

  .jumbotron {
    text-align: center;
  }

  .image-block-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    width: 250px;

    &:first-of-type {
      width: 500px;
      height: 500px;
    }

    img {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .image-block-item-overlay {
      position: absolute;
      left: 15px;
      bottom: 15px;

      .image-block-item-subtitle {
        font-weight: normal;
      }
    }
  }
}
