@import '../../scss/variables';

.panel {
  background: $gray-medium;
}

.track-name {
  padding-bottom: 5px;
  white-space: nowrap;
  font-weight: bold;
}

.popularity, .duration {
  font-size: 1.2em;
  font-weight: 500;
}
