@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/helpers';

.page-header {
  padding: 10px 10px 10px 20px;
}

.page-content {
  background: #1a1d24;
  padding: 20px;

  .panel-light {
    background: $gray-medium;
  }

  .jumbotron {
    text-align: center;
  }
}
