@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/helpers';

.page-header {
  padding: 10px 10px 10px 20px;
}

.page-content {
  background: #1a1d24;
  padding: 20px;

  .panel-light {
    background: $gray-medium;
  }

  .jumbotron {
    text-align: center;
  }
}

.text-slim {
  color: #97969B;
  font-weight: lighter;
  padding-bottom: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
